<!DOCTYPE html>
<html>
<head>
  <title>A Game</title>
</head>
<body>
    <form action="/madlib">
        <label> Please Provide a Noun: <input type="text" name="noun" placeholder="e.g. wombat"></label>
        <br><br>
        <label> Please Provide an Adjective: <input type="text" name="adjective" placeholder="e.g. smelly"></label>
        <br><br>
        <label> Please Provide a Color: <input type="text" name="color" placeholder="e.g. fuschia"></label>
        <br><br>
        <label> Please Provide a Person: <input type="text" name="person" placeholder="e.g. William Shatner"></label> 
        <br><br>
        <input type="submit">
    </form>
</body>
</html>